---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Equipos | CeFI">
	<section class="equipment">
		<h1>Equipos</h1>
	</section>
</Layout>
<style>
	.equipment {
		max-width: 1100px;
		width: 80%;
		margin: auto;
		/* margin-bottom: 40px; */
	}

	.equipment h1 {
		font-size: 60px;
		color: #6e94ac;
		/* margin-bottom: 20px; */
		text-align: center;
	}

	.equipment h2 {
		font-size: 24px;
		color: #6e94ac;
		/* margin-bottom: 12px; */
		text-align: center;
	}

	.equipment strong {
		color: #6e94ac;
	}
</style>
