---
import Layout from "../layouts/Layout.astro";
import LinkCard from "../components/LinkCard.astro";

const links = [
	{ title: "Equipos", icon: "bi bi-pc-display-horizontal", href: "/equipment" },
	{ title: "Reservas", icon: "bi bi-calendar2-week", href: "/reservations" },
	{ title: "Docentes", icon: "bi bi-person-badge", href: "/teachers" },
	{ title: "Comision", icon: "bi bi-person-lines-fill", href: "/comition" },
];
---

<Layout title="CeFI | FQ">
	<section class="hero">
		<div>
			<h1>Centro de Formación Integrada</h1>
			<p class="subtitulo">
				El CeFI es un laboratorio de última generación de la Facultad de
				Química, creado para la formación práctica e interdisciplinaria de
				estudiantes, docentes e investigadores.
			</p>
		</div>
		<div class="video">
			<iframe
				src="https://www.youtube.com/embed/biBwi997srI?start=1"
				frameborder="0"
				allowfullscreen></iframe>
		</div>
		<div class="hero-links">
			<a class="hero-link" href="/about">¿Qué es el CeFI?</a>
			<a class="hero-link" href="/activities">Actividades Individuales</a>
		</div>
	</section>

	<hr />

	<section class="enlaces">
		<h2>Enlaces de Interés</h2>
		<div class="links-container">
			{
				links.map((item) => (
					<LinkCard title={item.title} icon={item.icon} href={item.href} />
				))
			}
		</div>
	</section>
</Layout>

<style>
	.hero-links {
		display: flex;
		width: 80%;
		justify-content: center;
		gap: 80px;
		margin-top: 50px;
	}

	.hero-link {
		background-color: #ff6d62;
		color: white;
		text-decoration: none;
		height: 55px;
		width: 200px;
		font-size: 20px;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 30px;
		transition: background-color 0.6s;
	}

	.hero-link:hover {
		background-color: #ef1809;
	}

	/* Sección general */
	section {
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 900px;
		text-align: center;
		margin: 50px auto;
		padding: 0 10px;
	}

	.hero h1 {
		font-size: 60px;
		color: #6e94ac;
		margin-bottom: 20px;
	}

	.hero p {
		font-size: 20px;
		color: #333;
	}

	.video {
		width: 100%;
		margin-top: 30px;
		transition: transform 0.2s ease,box-shadow .2s ease;
		border-radius: 20px;
	}

	.video:hover {
		transform: scale(1.04);
		box-shadow: 40px -16px 0 #6e94ac;
	}

	.hero iframe {
		width: 100%;
		height: 450px;
		border-radius: 20px;
		border: none;
	}

	h2 {
		font-size: 40px;
		color: #6e94ac;
		margin: 60px 0 30px;
	}

	hr {
		border: none;
		border-bottom: 2px solid black;
		width: 50%;
		margin: 40px auto;
	}

	/* Sección de enlaces */
	.enlaces {
		padding-bottom: 100px;
	}

	.links-container {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 60px;
		margin-top: 20px;
		margin-bottom: 50px;
	}
</style>
