---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Profesores">
	<section class="teachers">
		<h1>Profesores integrantes del CeFI</h1>
		<p>En construccion</p>
	</section>
</Layout>

<style>
	.teachers {
		max-width: 1100px;
		width: 80%;
		margin: auto;
		animation: fadeIn 0.8s ease-in-out forwards !important; /* fade-in de 0.5s */
		
	}

	.teachers h1 {
		font-size: 60px;
		color: #6e94ac;
		/* margin-bottom: 20px; */
		text-align: center;
	}

	.teachers h2 {
		font-size: 24px;
		color: #6e94ac;
		margin-bottom: 12px;
		text-align: center;
	}
</style>
