---
const { title, icon, href } = Astro.props;
---

<a href={href} class="link-content">
	<i id="icon" class=`${icon}`></i>
	<label for="icon">{title}</label>
</a>

<style>
	.link-content {
		display: flex;
		flex-direction: column;
		text-decoration: none;
		color: grey;
		font-weight: 600;
		font-size: 30px;
		transition:
			color 0.2s,
			transform 0.2s ease;
	}

	.link-content:hover {
		color: #6e94ac;
		transform: scale(1.1);
	}
</style>
