---
const { title, icon, href } = Astro.props;
---

<div class="link-content">
	<a href={href}>
		<i id="icon" class=`${icon}`></i>
		<label for="icon">{title}</label>
	</a>
</div>

<style>
	.link-content a {
		display: flex;
		flex-direction: column;
		text-decoration: none;
		color: grey;
		font-weight: 600;
		font-size: 30px;
		transition: color 1s;
	}

	.link-content a:hover{
		color:#6e94ac
	}
</style>
