<nav>
	<div class="logos">
		<a href="https://prueba.fq.edu.uy">
			<img src="/logo-quimica.png" alt="logo FQ" />
		</a>
		<a href="https://udelar.edu.uy">
			<img src="/udelar.png" alt="logo UDELAR" />
		</a>
	</div>

	<ul>
		<a href="/">Home</a>
		<a href="/equipment">Equipos</a>
		<a href="/reservations">Reservas</a>
		<a href="/teachers">Docentes</a>
		<a href="/commission">Comision</a>
	</ul>
</nav>

<style>
	.logos img {
		/* margin: 10, 40px; */
		width: 150px;
	}

	.logos img:first-child {
		margin-right: 20px;
	}

	nav {
		width: 70%;
		height: 80px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: row;
		border-bottom: 1px solid grey;
		padding-bottom: 10px;
		max-height: 66.41px;!important
	}

nav a {
    position: relative; /* necesario para el pseudo-elemento */
    text-decoration: none;
    color: black;
    font-size: 16px;
    padding-bottom: 2px; /* espacio para el subrayado */
}

/* Pseudo-elemento que será la línea */
nav a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%; /* empieza desde el centro */
    width: 0; /* inicialmente invisible */
    height: 2px;
    background-color: #6e94ac;
    transition: width 0.4s ease, left 0.4s ease;
}

/* Al hacer hover, la línea crece hacia los lados */
nav a:hover::after {
    width: 100%;
    left: 0; /* se extiende desde la izquierda hasta la derecha */
}

	nav ul {
		display: flex;
		flex-direction: row;
		gap: 80px;
	}


</style>
