<nav>
	<div class="logos">
		<img src="/logo-quimica.png" alt="logo" />
		<img src="/udelar.png" alt="logo FQ" />
	</div>

	<ul>
		<a href="">Equipos</a>
		<a href="">Reservas</a>
		<a href="">Docentes</a>
		<a href="">Comision</a>
	</ul>
</nav>

<style>
	.logos img {
		/* margin: 10, 40px; */
		width: 150px;
	}

	.logos img:first-child {
		margin-right: 20px;
	}

	nav {
		width: 70%;
		height: 80px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: row;
		border-bottom: 1px solid grey;
	}

	nav a {
		text-decoration: none;
		color: black;
		font-size: larger;
	}

	nav ul {
		display: flex;
		flex-direction: row;
		gap: 80px;
	}
</style>
